[Desktop Entry]
Name=Virtual Desktop Bar
Comment=Manage your virtual desktops
Icon=virtualdesktopbar
Type=Service

X-KDE-PluginInfo-Name=org.kde.plasma.virtualdesktopbar
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Author=wsdfhjxc
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/applet/Applet.qml
X-Plasma-Provides=org.kde.plasma.virtualdesktops
